/* TODO: move styles to a new file for each component */

/* Global fonts */
html * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 1rem 2rem;
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Header and page */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
  display: flex;
  border-bottom: 2px solid black;
  align-content: space-between;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  z-index: 9999;
  box-sizing: border-box;
}

nav .nav-links {
  display: flex;
  align-content: space-evenly;
  margin-left: auto;
}

nav span, nav a {
  padding: 1rem;
  padding-left: 0;
  color: black;
}

nav #greet-user {
  margin-left: 1.5rem;
}

nav #greet-user:hover {
  cursor: pointer;
}

.content .title {
  width: 100%;
}

.center {
  text-align: center;
}

/* Form used on signup and login pages */
form {
  flex-grow: auto;
}

form input {
  display: block;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

form button {
  margin: 0 auto;
}

button {
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem 0.5em;
  display: block;
}

button:hover {
  cursor: pointer;
}

/* Displayed in login page after successful sign up*/
.success-login-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

/* Polls page */
table {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody {
  width: 100%;
  text-align: left;
}

td, th {
  padding: 0.5rem;
}

td span {
  max-width: 40vw; /* TODO: adjust */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th svg {
  display: inline;
  vertical-align: middle;
}

th:hover {
  cursor: pointer;
}

tr {
  border-bottom: 1px solid grey;
}

tbody tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

td a {
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: start;
}

.toolbar svg {
  vertical-align: middle;
}

.toolbar button {
  margin: 0.5rem;
  margin-left: 0;
}

/* Loading spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  height: 100%;
}

.loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Alert message */
.alert-container {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  z-index: 9998;
}

.alert {
  border-radius: 4px;
  padding: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideInDown 0.5s forwards;
}

.alert span {
  flex-grow: 1;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.close-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}


/* Create Poll Page ---------------------------------*/

.poll-table {
  width: 100%;
  background-color: transparent;
  border-spacing: 0.3rem;
  border-collapse: separate;
}

.poll-table, .poll-table td {
  border: 0; 
  border-style: hidden;
}

.poll-table .custom-row td {
  height: 2rem;
  padding: 0; 
  padding-bottom: 1rem;
}

.poll-table .custom-row:hover{
  cursor: auto;
  background-color: white;
}

.poll-table .checkbox-cell, .poll-table .delete-button-cell {
  width: 2rem;
}

.poll-table .checkbox-cell .checkbox, .poll-table .textbox-cell .dynamic-textbox, .poll-table .delete-button-cell .delete-button {
  width: 100%;
  height: 100%;
  margin: 0; 
  border: 0; 
  padding: 0; 
}

.poll-table .delete-button-cell .delete-button {
  background-color: black; 
  color: #fff;
}

.poll-table .textbox-cell .dynamic-textbox {
  box-sizing: border-box; 
}

.create-poll-question {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 89%; 
}

.create-poll-button {
  margin-bottom: 1rem;
}

.voteOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 2px; 
}

.voteOption {
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  min-width: 100px; 
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.voteOption.selected {
  background-color: green;
  color: white;
}
/*---------------------------------------------------*/