/* TODO: move styles to a new file for each component */

/* Global fonts */
html * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Header and page */
nav {
  padding: 0 5%;
  display: flex;
  border-bottom: 2px solid black;
  align-content: space-between;
  font-size: 1rem;
}

nav .nav-links {
  display: flex;
  align-content: space-evenly;
  margin-left: auto;
}

nav span, nav a {
  padding: 1rem;
  padding-left: 0;
  color: black;
}

nav #greet-user {
  margin-left: 1.5rem;
}

nav #greet-user:hover {
  cursor: pointer;
}

.content .title {
  width: 100%;
}

.center {
  text-align: center;
}

/* Form used on signup and login pages */
form {
  flex-grow: auto;
}

form input {
  display: block;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

button {
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem 0.5em;
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

/* Displayed in login page after successful sign up*/
.success-login-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

/* Polls page */
table {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody {
  width: 100%;
  text-align: left;
}

td, th {
  padding: 0.5rem;
}

th svg {
  display: inline;
  vertical-align: middle;
}

th:hover {
  cursor: pointer;
}

tr {
  border-bottom: 1px solid grey;
}

tbody tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

td a {
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: start;
}

.toolbar svg {
  vertical-align: middle;
}

.toolbar button {
  margin: 0.5rem;
  margin-left: 0;
}

/* Create Poll Page ---------------------------------*/
.poll-table {
  width: 100%;
  border-collapse: separate;
  background-color: transparent;
  border-spacing: 0.3rem;
}

.poll-table, .poll-table td {
  border: 0; /* Optional: adds border for clarity */
  border-style: hidden;
}

.poll-table .custom-row td {
  height: 2rem;
  padding: 0; /* Removes padding to allow content to fill the cell */
  padding-bottom: 1rem;
}

.poll-table .custom-row:hover{
  cursor: auto;
  background-color: white;
}

/* First and third columns */
.poll-table .checkbox-cell, .poll-table .delete-button-cell {
  width: 2rem;
}

/* Style for checkbox, textbox, and button to fill the cell */
.poll-table .checkbox-cell .checkbox, .poll-table .textbox-cell .dynamic-textbox, .poll-table .delete-button-cell .delete-button {
  width: 100%;
  height: 100%;
  margin: 0; /* Adjusts margins to fill the cell */
  border: 0; /* Optional: removes border from checkbox and button */
  padding: 0; /* Removes padding to allow content to fill the entire space */
}

/* Optional: Adjust the button styling */
.poll-table .delete-button-cell .delete-button {
  background-color: black; /* Example: red background */
  color: #fff; /* Example: white text */
}

/* Styling adjustments for the textbox */
.poll-table .textbox-cell .dynamic-textbox {
  box-sizing: border-box; /* Ensures padding does not increase size beyond 100% */
  /* Additional styles as needed for visual consistency */
}

.create-poll-question {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 89%; /* This seems like a magical number to get question and option aligned */
}

.create-poll-button {
  margin-bottom: 1rem;
}
/*---------------------------------------------------*/