/* TODO: move styles to a new file for each component */

/* Global fonts */
html * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

html {
  height: 100%
}

body {
  margin: 0;
  height: 100%;
}

body * {
  height: min-content;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Header and page */
nav {
  padding: 0 5%;
  display: flex;
  border-bottom: 2px solid black;
  align-content: space-between;
  font-size: 1rem;
}

nav .nav-links {
  display: flex;
  align-content: space-evenly;
  margin-left: auto;
}

nav span, nav a {
  padding: 1rem;
  padding-left: 0;
  color: black;
}

nav #greet-user {
  margin-left: 1.5rem;
}

nav #greet-user:hover {
  cursor: pointer;
}

.content .title {
  width: 100%;
}

.center {
  text-align: center;
}

/* Form used on signup and login pages */
form {
  flex-grow: auto;
}

form input {
  display: block;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

button {
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem 0.5em;
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

/* Displayed in login page after successful sign up*/
.success-login-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

/* Polls page */
table {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody {
  width: 100%;
  text-align: left;
}

td, th {
  padding: 0.5rem;
}

th svg {
  display: inline;
  vertical-align: middle;
}

th:hover {
  cursor: pointer;
}

tr {
  border-bottom: 1px solid grey;
}

tbody tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

td a {
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: start;
}

.toolbar svg {
  vertical-align: middle;
}

.toolbar button {
  margin: 0.5rem;
  margin-left: 0;
}